/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

.page-header {
    color: #555;
    border: none;
}


/* region--footer.html.twig Start */

.button-social {
    text-align: center;
}

.social-inline {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-inline li {
    display: inline-block;
}

ul.social-inline li a {
    display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}

ul.social-inline li a:hover {
    background: blue;
    color: #fff;
}

.social-bar-top {
    padding: 10px 0;
    background: #e4a13c;
    border-bottom: 1px solid #222;
    line-height: 28px;
}

#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background: #222;
}

#footer a {
    color: chocolate;
    text-decoration: none;
}

#footer a:hover {
    color: aqua;
}

.footer-img {
    width: 200px;
    height: 170px;
}

#Fossee-footer h3 {
    color: #fff;
}

#Fossee-footer {
    background-image: linear-gradient(to right, #1058dc 0%, #e0701a 100%);
    padding-bottom: 8px;
}

.footer-contact ul {
    list-style: none;
}


/* Region.footer.html.twig End */


/* Bootstrap NavBar Start */

.navbar-nav>li>.dropdown-menu {
    background-color: #E3560A;
    ;
}

.navbar-nav>li>.dropdown-menu a {
    color: #fff;
}

.navbar-nav>li>.dropdown-menu a:hover {
    font-family: monospace;
    color: blanchedalmond;
    background: blue;
}

ul.nav li.dropdown:hover>ul.dropdown-menu {
    font-family: monospace;
    display: block;
}

#navbar {
    border-color: chocolate;
    background: #fff;
}

.navbar-nav {
    padding-top: 20px;
    /* float:left; */
}

.navbar-default .navbar-nav>li>a {
    color: #d42d2d;
    font-family: monospace;
    font-size: 15px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background: #E3560A;
}


/* BootStrap NavBar End */


/* Corousal start  */


/* Field Description  */

.views-corousal-description {
    font-size: xx-large;
    color: white;
    text-align: -webkit-center;
    text-align: -moz-center;
    background: gray;
    font-family: monospace;
}


/* Corousal End */


/* Project hover Image Start */

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #0e00d6;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: rgba(54, 81, 111, 0.9);
    -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    padding: 10px;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 25px 0 0;
    padding: 7px 14px;
}

.hovereffect p {
    color: #fff;
    /* //text-align: center; */
    position: relative;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-weight: 500;
    line-height: 1.6;
    margin: 10px;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


/* ============================= */


/* Project End */


/* News Policy Block */

.navbar_news {
    background: #4c7099;
}

.navbar_news>li>a {
    color: white;
    font-family: monospace;
}

.navbar_news>li>a:hover {
    text-decoration: none;
    background-color: #fbf4f4;
    font-family: monospace;
    color: black;
}

.news-articles {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.views-field.views-field-field-article-link {
    margin-right: 5px;
    margin-left: 10px;
}

.views-field.views-field-field-article-link>a {
    text-decoration: none;
    color: orangered;
}


/* Policy */

.policy-content {
    position: relative;
    width: 100%;
    height: 200px;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.policy-content a {
    color: #484848;
    text-shadow: 1px 1px #100d0d;
}

.policy-content a:hover {
    text-shadow: 1px 1px #100d0d;
    text-decoration: none;
}

.policy-content .policy-content-overlay {
    background: rgba(0, 0, 0, 1);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.policy-content:hover .policy-content-overlay {
    opacity: 1;
}

.policy-content-image {
    width: 100%;
}

.policy-content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.policy-content:hover .policy-content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.policy-content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.policy-content-details h4 {
    color: #fff;
}

.panel {
    background-color: #eee;
    height: 200px;
}

.panel-body h3 {
    text-align: center;
    text-decoration: none;
}

.fadeIn-bottom {
    top: 80%;
}

.news-rows>td {
    border-top: none !important;
    white-space: unset !important;
}


/*========================= Policy End ==================================*/


/* Project Corousal start */

.testimonial_btn {
    background-color: #373d4b !important;
    color: #fff !important;
}


/*==================================== Project Corousal End ==================*/


/* Activity  Vertical Tab Start */

.vertical-tab {
    font-family: 'Arimo', sans-serif;
    display: table;
}

.vertical-tab .nav-tabs {
    display: table-cell;
    width: 28%;
    min-width: 28%;
    padding-top: 6px;
    border: none;
    vertical-align: top;
    position: relative;
}

.vertical-tab .nav-tabs li {
    float: none;
    vertical-align: top;
}

.vertical-tab .nav-tabs li a {
    color: #fff;
    background-color: #0f4c5c;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 0 10px 20px 0;
    border-radius: 0;
    border: none;
    position: relative;
    z-index: 1;
    transition: all 0.20s ease 0s;
}

.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover {
    color: #fff;
    background: #9a031e;
    border: none;
}

.vertical-tab .nav-tabs li a:before,
.vertical-tab .nav-tabs li a:after {
    content: "";
    background: #0f4c5c;
    width: 20%;
    height: 3px;
    position: absolute;
    top: -5px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.vertical-tab .nav-tabs li a:after {
    top: auto;
    left: auto;
    bottom: -5px;
    right: 0;
}

.vertical-tab .nav-tabs li.active a:before,
.vertical-tab .nav-tabs li a:hover:before,
.vertical-tab .nav-tabs li.active a:after,
.vertical-tab .nav-tabs li a:hover:after {
    width: 100%;
}

.vertical-tab .tab-content {
    color: #1f0d0d;
    background-color: #f5f5f55e;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 23px;
    padding: 20px;
    outline: 3px solid #ede1e1;
    outline-offset: -8px;
    display: table-cell;
    position: relative;
}

.vertical-tab .tab-content h3 {
    text-transform: uppercase;
    margin: 0 0 7px 0;
}

@media only screen and (max-width: 479px) {
    .vertical-tab .nav-tabs {
        display: block;
        width: 100%;
        border-right: none;
    }
    .vertical-tab .nav-tabs li a {
        margin: 0 0 20px;
    }
    .vertical-tab .tab-content {
        display: block;
        padding: 20px 15px 5px;
    }
    .vertical-tab .tab-content h3 {
        font-size: 18px;
    }
}


/* Activity  Vertical Tab End */


/* About-us Team Member Start*/

.about-us-team-table:nth-child(even) {
    background-color: #dff0d8;
}

.about-us-team-table .table {
    border: 1px solid #dddddd;
}

.eye-icon .svg-inline--fa {
    color: tomato;
}


/* About-us Team Member End*/


/* Resource Page Start */

.fossee-resource-row {
    margin-top: 2px;
    height: 30px;
}

.fossee-resource-row:nth-child(odd) {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.fossee-resource-row:nth-child(even) {
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.fossee-resource-column a {
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    vertical-align: sub;
    color: #E3560A;
    ;
}

.fossee-resource-column a:hover {
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    vertical-align: middle;
    color: blue;
}


/* Resource Page End  */


/* Contatct Us Page Start*/

.contact-us-table table th {
    background: #0f4c5c;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


/* Contatct Us Page End*/


/* Newsletter Page Start*/

.fossee-newsletter a {
    border-color: #48C9B0;
    color: #FFFFFF;
    margin-left: 8px;
    padding: 5px;
    text-decoration: none;
    background-color: #48C9B0;
    border-color: #48C9B0;
    font-size: initial;
}

.fossee-newsletter a:hover {
    background-color: orangered;
    border-color: orangered;
    color: #FFF;
    margin-left: 8px;
    padding: 5px;
    text-decoration: none;
    font-size: initial;
}


/* Newsletter Page End*/


/* Show Hide Poster roucher Text Description*/

#edit-show-poster--description {
    color: red !important;
    font-size: 15px !important;
}

#edit-show-broucher--description {
    color: red !important;
    font-size: 15px !important;
}


/* ======================== */

.testimonial-img {
    width: 100%;
    height: 100%;
}


/* BLOG Start */

.blog {
    margin: 10px;
}

.blog-row {
    text-align: justify;
    font-size: initial;
}

.blog-row a {
    color: #d42d2d;
    text-decoration: none;
}

.blog-title {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
}

.blog-title a {
    color: #555;
    text-decoration: none;
}

.author {
    background: rgb(247, 247, 247);
    border: 1px solid rgb(236, 236, 236);
    border-radius: 4px;
    clear: both;
    color: rgb(56, 56, 56);
    display: inline-block;
    margin-bottom: 5px;
    padding: 2px 8px;
}

#blog-teaser .author a {
    color: #d42d2d;
    text-decoration: none;
}

.blog-teaser-content .node-readmore a {
    color: white;
    text-decoration: none;
}

.blog-teaser-content .node-readmore a:hover {
    color: #d42d2d;
    ;
    text-decoration: none;
}

.link-button {
    background: black;
}


/* Blog End */


/* Partner Page Start */

.partner-body {
    font-size: 15px;
    text-align: justify;
}


/* Partner Page End */


/* Fellow Testimonial Video Start */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title h4 {
    color: #555;
}

a.testimonial-card:hover {
    text-decoration: none;
    color: #555;
    cursor: pointer;
}


/* Fellow Testimonial Video End */