.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon:before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error:before{background-image:url(/fossee_in/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/fossee_in/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/fossee_in/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/fossee_in/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/fossee_in/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/fossee_in/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/fossee_in/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/fossee_in/core/misc/tree.png) no-repeat -11px center;}
.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{float:left;clear:both;width:100%;}.views-display-link + .views-display-link{margin-left:0.5em;}
@font-face{font-family:'flexslider-icon';src:url(/fossee_in/libraries/flexslider/fonts/flexslider-icon.eot);src:url(/fossee_in/libraries/flexslider/fonts/flexslider-icon.eot#iefix) format('embedded-opentype'),url(/fossee_in/libraries/flexslider/fonts/flexslider-icon.woff) format('woff'),url(/fossee_in/libraries/flexslider/fonts/flexslider-icon.ttf) format('truetype'),url(/fossee_in/libraries/flexslider/fonts/flexslider-icon.svg#flexslider-icon) format('svg');font-weight:normal;font-style:normal;}.flex-container a:hover,.flex-slider a:hover{outline:none;}.slides,.slides>li,.flex-control-nav,.flex-direction-nav{margin:0;padding:0;list-style:none;}.flex-pauseplay span{text-transform:capitalize;}.flexslider{margin:0;padding:0;}.flexslider .slides>li{display:none;-webkit-backface-visibility:hidden;}.flexslider .slides img{width:100%;display:block;}.flexslider .slides:after{content:"\0020";display:block;clear:both;visibility:hidden;line-height:0;height:0;}html[xmlns] .flexslider .slides{display:block;}* html .flexslider .slides{height:1%;}.no-js .flexslider .slides>li:first-child{display:block;}.flexslider{margin:0 0 60px;background:#fff;border:4px solid #fff;position:relative;zoom:1;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:'' 0 1px 4px rgba(0,0,0,0.2);-moz-box-shadow:'' 0 1px 4px rgba(0,0,0,0.2);-o-box-shadow:'' 0 1px 4px rgba(0,0,0,0.2);box-shadow:'' 0 1px 4px rgba(0,0,0,0.2);}.flexslider .slides{zoom:1;}.flexslider .slides img{height:auto;-moz-user-select:none;}.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-ms-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;}.loading .flex-viewport{max-height:300px;}@-moz-document url-prefix(){.loading .flex-viewport{max-height:none;}}.carousel li{margin-right:5px;}.flex-direction-nav{*height:0;}.flex-direction-nav a{text-decoration:none;display:block;width:40px;height:40px;margin:-20px 0 0;position:absolute;top:50%;z-index:10;overflow:hidden;opacity:0;cursor:pointer;color:rgba(0,0,0,0.8);text-shadow:1px 1px 0 rgba(255,255,255,0.3);-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}.flex-direction-nav a:before{font-family:"Arial";font-size:40px;display:inline-block;content:'<';color:white;text-shadow:1px 1px 0 rgba(255,255,255,0.3);}.flex-direction-nav a.flex-next:before{content:'>';color:white;}.flex-direction-nav .flex-prev{left:-50px;}.flex-direction-nav .flex-next{right:-50px;text-align:right;}.flexslider:hover .flex-direction-nav .flex-prev{opacity:0.7;left:10px;}.flexslider:hover .flex-direction-nav .flex-prev:hover{opacity:1;}.flexslider:hover .flex-direction-nav .flex-next{opacity:0.7;right:10px;}.flexslider:hover .flex-direction-nav .flex-next:hover{opacity:1;}.flex-direction-nav .flex-disabled{opacity:0!important;filter:alpha(opacity=0);cursor:default;z-index:-1;}.flex-pauseplay a{display:block;width:20px;height:20px;position:absolute;bottom:5px;left:10px;opacity:0.8;z-index:10;overflow:hidden;cursor:pointer;color:#000;}.flex-pauseplay a:before{font-family:"flexslider-icon";font-size:20px;display:inline-block;content:'\f004';}.flex-pauseplay a:hover{opacity:1;}.flex-pauseplay a.flex-play:before{content:'\f003';}.flex-control-nav{width:100%;position:absolute;bottom:-40px;text-align:center;}.flex-control-nav li{margin:0 6px;display:inline-block;zoom:1;*display:inline;}.flex-control-paging li a{width:11px;height:11px;display:block;background:#666;background:rgba(0,0,0,0.5);cursor:pointer;text-indent:-9999px;-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);-o-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);box-shadow:inset 0 0 3px rgba(0,0,0,0.3);-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}.flex-control-paging li a:hover{background:#333;background:rgba(0,0,0,0.7);}.flex-control-paging li a.flex-active{background:#000;background:rgba(0,0,0,0.9);cursor:default;}.flex-control-thumbs{margin:5px 0 0;position:static;overflow:hidden;}.flex-control-thumbs li{width:25%;float:left;margin:0;}.flex-control-thumbs img{width:100%;height:auto;display:block;opacity:.7;cursor:pointer;-moz-user-select:none;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-ms-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;}.flex-control-thumbs img:hover{opacity:1;}.flex-control-thumbs .flex-active{opacity:1;cursor:default;}@media screen and (max-width:860px){.flex-direction-nav .flex-prev{opacity:1;left:10px;}.flex-direction-nav .flex-next{opacity:1;right:10px;}}
.flexslider .flex-direction-nav a,.flexslider .flex-direction-nav a{display:none;}.flexslider:hover .flex-direction-nav a,.flexslider:hover .flex-direction-nav a{display:block;}
