.button-social{text-align:center;}.inline{display:inline-block;list-style:none;padding:0;margin:0;}ul.inline li{display:inline-block;}ul.inline li a{display:inline-block;color:#fff;background:#404040;width:25px;height:25px;line-height:25px;text-align:center;border-radius:2px;}ul.inline li a:hover{background:#E8CE0E;color:#fff;}.social-bar-top{padding:10px 0;background:#090909;border-bottom:1px solid #222;line-height:28px;}ul.nav li.dropdown:hover > ul.dropdown-menu{display:block;}
