.button-social{text-align:center;}.inline{display:inline-block;list-style:none;padding:0;margin:0;}ul.inline li{display:inline-block;}ul.inline li a{display:inline-block;color:#fff;background:#404040;width:25px;height:25px;line-height:25px;text-align:center;border-radius:2px;}ul.inline li a:hover{background:#E8CE0E;color:#fff;}
