{% if title %}
<h3>{{ title }}</h3>
{% endif %}
<div class="row">
   {% for row in rows %}
          {% set URL = file_url(row['content']['#row']._entity.field_fellow_testimonial_link.uri) %}
             <div class="col-lg-4 col-md-6 mb-4">
                <div class="modal fade" id="{{ row['content']['#row'].nid }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                 <div class="modal-dialog modal-lg" role="document">

            <!--Content-->
                    <div class="modal-content">
                        <!--Body-->
                            <div class="modal-body mb-0 p-0">

                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                    <video class="embed-responsive-item" controls  src="{{ URL }}"
                                        allowfullscreen></video>
                                </div>

                            </div>

                <!--Footer-->
                            <div class="modal-footer justify-content-center flex-column flex-md-row">
                                {% for key in row['content']['#row']._entity.field_fellow_institute_name|keys %}
                                   <div class="col-sm-4" style="text-align:justify;">
                                     <h4>{{ row['content']['#row']._entity.field_fellow_name[key].value }}</h4>
                                     <h6>{{ row['content']['#row']._entity.field_fellow_institute_name[key].value }}</h6>
                                   </div>
                                 {% endfor %}

                                <button type="button" class="btn btn-primary btn-rounded btn-md ml-4"
                                 data-dismiss="modal">Close</button>
                            </div>
                    </div>
            <!--/.Content-->

                </div>
               </div>
                <!--Modal: Name-->
                <a class="testimonial-card">
                  <div class="card">
                          <img class="testimonial-img img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-2.jpg" alt="video"
                            data-toggle="modal" data-target="#{{row['content']['#row'].nid }}">
                     <div class="container-fluid">
                         <h4 class="card-title">{{ row['content']['#row']._entity.field_fellowship_task.value }}</h4>
                     </div>
                  </div>
                </a>
        </div>
   {% endfor %}
</div>