{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{%
    set align_class = [
      show_poster and show_broucher ? 'col-md-3 col-sm-6 wow animated fadeInUp slower',
      show_poster is empty and show_broucher ? 'col-md-4 col-sm-6 wow animated fadeInUp slower',
      show_poster and show_broucher is empty ? 'col-md-4 col-sm-6 wow animated fadeInUp slower',
      show_poster is empty and show_broucher is empty ? 'col-md-6 col-sm-6 wow animated fadeInUp slower',


    ]
%}
  <div{{ attributes.addClass(classes) }}>
    {# {{ content }} #}
    <div  id="Fossee-footer">
      <div class="row">

      {% if show_poster  %}
               <div {{ attributes.addClass(align_class) }}>
          <center>
          <h3>POSTER</h3>
             <a target="_blank"  href="{{poster_content.url}}"><img class="footer-img" src="{{poster_content.path}}" alt="" /></a>
          </center>
        </div>
        {% endif %}

      {% if show_broucher %}
          <div {{ attributes.addClass(align_class) }}>
            <center>
              <h3>BROUCHER</h3>
              <a target="_blank"  href="{{broucher_content.url}}"><img class="footer-img" src="{{broucher_content.path}}" alt="" /></a>
          </center>
         </div>
      {% endif %}

        <div {{ attributes.addClass(align_class) }}>
           <center>
           <h3>  CONTACT</h3>
            <ul style="padding-left:0; list-style: none;">
              <li> <span style="font-size: 1em; color: white;"><i class="fas fa-home"></i> FOSSEE, IIT BOMBAY</span></li>
               <br>
               <li><span style="font-size: 1em; color: white;"><i class="fas fa-globe-europe"></i> MUMBAI, INDIA</span></li>
                <br>
               <li><span style="font-size: 1em; color: white;"><i class="fas fa-phone-square"></i> Phone : (+91) 22 25764133<span></li>
                <br>
              <li><span style="font-size: 1em; color: white;"><i class="fas fa-envelope"></i> Email : info [at] fossee [dot] in</span></li>
            </ul>
            </center>
        </div>


        <div {{ attributes.addClass(align_class) }}>
          <center>
             <ul style="padding-left:0;list-style: none;"><br>
              <li><img style="height: 80px;width: 80px;" src="{{ base_path ~ directory }}/images/iitb-logo1.png" alt="" /></li><br>
              <li><img style="width: 100px;height: 50px;" src="{{ base_path ~ directory }}/images/mhrd-logo1.png" alt="" /></li><br>
              <li><img style="background:#fff;width: 100px;height: 50px;" src="{{ base_path ~ directory }}/images/NMEICT.png" alt="" /></li><br>
              </ul>
          </center>
        </div>
      </div>
    </div>

    {# Social Button #}
    <div class="social-bar-top">
     <div class="container">
      <div class="row">
        <div class="col-lg-12">
           <div class="button-social">
            <ul class="social-inline">
            {# https://www.facebook.com/FOSSEE-894448903953823/?fref=ts #}
             {% if show_social_icon %}
                {% if facebook_url %}
                <li><a target="_blank"  href="{{facebook_url}}"><i class="fa fa-facebook"></i></a></li>
                {% endif %}
                {% if youtube_url %}
                <li><a target="_blank" href="{{youtube_url}}"><i class="fa fa-youtube"></i></a></li>
                {% endif %}
                {% if github_url %}
                <li><a target="_blank"  href="{{github_url}}"><i class="fa fa-github"></i></a></li>
                {% endif %}
                {% if twitter_url %}
                <li><a target="_blank"  href="{{twitter_url}}"><i class="fa fa-twitter"></i></a></li>
                {% endif %}
                {% if linkedin_url %}
                <li><a target="_blank"  href="{{linkedin_url}}"><i class="fa fa-linkedin"></i></a></li>
                {% endif %}
                {% if google_plus_url %}
                <li><a target="_blank"  href="{{google_plus_url}}"><i class="fa fa-google-plus"></i></a></li>
                {% endif %}
             {% endif %}
            </ul>
            </div>
          </div>
        </div>
       </div>
      </div>
      {# Social Button #}

      {# CopyRight License #}
      <footer id="footer">
         <div class="container">
           <div class="row">
               <div class="col-sm-9">
                 <p> This work is licensed under a <a target="_blank"  href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a></p>
               </div>
               <div class="col-sm-3">
                  <center> <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="{{ base_path ~ directory }}/images/footer_license.png" alt="" /></a></center>
               </div>
           </div>
         </div>
      </footer>
      {# CopyRight License #}

  </div>
{# {% endif %} #}
