{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}

<section{{attributes.addClass(classes)}}>
    {% block content %}
    <div class="container">
       {% if label %}
        <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
       {% endif %}
        <div class="col-md-12">
            <div class="vertical-tab" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    {% for result in drupal_view_result(content['#view'].id, content['#view'].current_display) %}
                        <li role="presentation" {% if loop.index0 == 0 %} class="item active" {% else %} class="item" {% endif %}><a href="#{{result.nid}}"role="tab" data-toggle="tab">
                         <center>

                            <img src="{{ file_url(result._entity.field_activity_image.entity.fileuri) }}"/>
                           <h6>{{ result._entity.title.value | raw}}</h6>
                         </center>
                        </a> </li>
                    {% endfor %}
               </ul>
                <div class="tab-content tabs">
                    {% for result in drupal_view_result(content['#view'].id, content['#view'].current_display) %}
                         {% if loop.index0 == 0 %}
                            <div role="tabpanel" class="tab-pane fade in active " id="{{result.nid}}">
                                 {% if   result._entity.title.value  %}
                                    <h3> {{ result._entity.title.value | raw }} </h3>
                                  {% endif %}
                                  {% if  result._entity.field_project_activity_descripti.value   %}
                                    <h5> {{ result._entity.field_project_activity_descripti.value | raw }}</h5>
                                  {% endif %}
                                  {% if   result._entity.field_activity_description.value %}
                                        {{ result._entity.field_activity_description.value | raw }}
                                  {% endif %}
                                  {# field_acrivity_related_project_d #}
                                   {% if   result._entity.field_acrivity_related_project_d.value  %}
                                         <p>{{ result._entity.field_acrivity_related_project_d.value | raw }}</p>
                                  {% endif %}
                                  {% if   result._entity.field_related_projects.value  %}
                                         <p>{{ result._entity.field_related_projects.value | raw }}</p>
                                  {% endif %}
                                  {% if   result._entity.field_related_projects.value  %}
                                      <table class="table">
                                         <thead>
                                            <tr>
                                                <th>Project</th>
                                                <th>Link</th>
                                            </tr>
                                          </thead>
                                          <tbody>

                                                 {% for link in result._entity.field_related_projects %}
                                                     <tr>   <td>{{link.title}}</td>
                                                         <td><a href="{{link.uri}}"><i style=" color: Tomato"class="fas fa-eye fa-lg"></i></a></td></tr>
                                                 {% endfor %}

                                           </tbody>
                                       </table>
                                  {% endif %}
                            </div>
                         {% else %}
                            <div role="tabpanel" class="tab-pane fade  " id="{{result.nid}}">
                                 {% if   result._entity.title.value  %}
                                    <h3> {{ result._entity.title.value | raw }} </h3>
                                  {% endif %}
                                  {% if  result._entity.field_project_activity_descripti.value   %}
                                    <h5> {{ result._entity.field_project_activity_descripti.value | raw }}</h5>
                                  {% endif %}
                                  {% if   result._entity.field_activity_description.value %}
                                        {{ result._entity.field_activity_description.value | raw }}
                                  {% endif %}
                                  {# field_acrivity_related_project_d #}
                                   {% if   result._entity.field_acrivity_related_project_d.value  %}
                                         <p>{{ result._entity.field_acrivity_related_project_d.value | raw }}</p>
                                  {% endif %}
                                  {% if   result._entity.field_related_projects.value  %}
                                     <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Project</th>
                                                <th>Link</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                                 {% for link in result._entity.field_related_projects %}
                                                     <tr>   <td>{{link.title}}</td>
                                                  <td><a href="{{link.uri}}"><i style=" color: Tomato"class="fas fa-eye fa-lg"></i></a></td></tr>
                                                 {% endfor %}

                                        </tbody>
                                      </table>
                                  {% endif %}
                            </div>
                         {% endif %}

                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
    {% endblock %}
</section>


