{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}

   <section{{ attributes.addClass(classes) }}>
         <ul class=" navbar_news nav nav-tabs nav-justified">
          <li class="active"><a data-toggle="tab" href="#news">News</a></li>
          <li><a data-toggle="tab" href="#policy">Policy</a></li>
         </ul>
        <div class="tab-content">
          <div id="news" class="tab-pane fade in active">
                {{ title_prefix }}
                {% if label %}
                    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
                {% endif %}
                {{ title_suffix }}

                {% block content %}
                    {{ content }}
                {% endblock %}
                <a href="/fossee_in/media-articles"><button style="float:right;margin:10px;" class="btn btn-primary">View All</button> </a>
          </div>
          {# For Policy Content Node Id is 20  #}
          <div id="policy" class="tab-pane fade">
              <div class="policy-content">
                  {% for page in my_data %}
                   {%  if page.nid.value == 20 %}
                     {% if page.field_policy_link.0.url.external %}
                        <a href="{{ page.field_policy_link.uri }}" target="_blank">
                      {% elseif page.field_policy_link.0.url.internal %}
                       <a href="{{ path(page.field_policy_link.0.url.routeName, page.field_policy_link.0.url.routeParameters) }}" target="_blank">
                      {% else %}
                         <a href="" target="_blank">
                     {% endif %}
                   {% else %}
                      <a href="" target="_blank">
                  {% endif %}
                  {% endfor %}
                <div class="policy-content-overlay"></div>
                  <div class="panel">
                     <div class="panel-body">
                           <h3>Policy on Adoption of Open Source Software for government of India</h3>
                     </div>
                   </div>
                   <div class="policy-content-details fadeIn-bottom">
                          {% for page in my_data %}
                          {%  if page.nid.value == 20 %}
                             <h4 class="policy-content-text">{{page.field_policy_descritption.value}}</h4>
                            {% endif %}
                          {% endfor %}
                    </div>
                </a>
              </div>
          </div>
        </div>
    </section>



