{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}
<section{{attributes.addClass(classes)}}>
    {% block content %}
        <div class="carousel slide" data-ride="carousel" id="carousel-example-generic">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for result in drupal_view_result(content['#view'].id, content['#view'].current_display) %}
                    <div {% if loop.index0 == 0 %} class="item active" {% else %} class="item" {% endif %}>
                        <div class="row" style="padding: 20px">
                            <button style="border: none;">
                                <i aria-hidden="true" class="fa fa-quote-left testimonial_fa"></i>
                            </button>
                            <p >
                                {{ result._entity.field_project_fossee_description.value | raw }}</p>
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="{{ file_url(result._entity.field_project_fossee_image.entity.fileuri) }}"/>
                                </div>
                                <div class="col-sm-10">
                                    <h4>{{ result._entity.field_fossee_testimonial_author.value | raw }}</h4>
                                    <span>
                                        {{ result._entity.title.value | raw }}
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="controls testimonial_control pull-right">
            <a class="left glyphicon glyphicon-chevron-left btn btn-default testimonial_btn" data-slide="prev" href="#carousel-example-generic"></a>

            <a class="right glyphicon glyphicon-chevron-right btn btn-default testimonial_btn" data-slide="next" href="#carousel-example-generic"></a>
        </div>

    {% endblock %}
</section>
